<div class="row">
  <div class="col-md-6" *ngFor="let video of data">
    <video style="width: 100%" [src] = "video.path" controls>
      Your browser does not support HTML5 video.
    </video>
  </div>
</div>
