<div class="container-fluid d-flex h-100 flex-column main-block">
  <app-header-component></app-header-component>
  <div class="row" style="margin: 22px 11px;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div style="margin: 0 10px;">
            <app-top-card-component [type]="4" [intervalUpdate]="60000"></app-top-card-component>
          </div>
        </div>
        <div class="col-md-3">
          <div style="margin: 0 10px;">
            <app-top-card-component [type]="5" [intervalUpdate]="60000"></app-top-card-component>
          </div>
        </div>
        <div class="col-md-3">
          <div style="margin: 0 10px;">
            <app-top-card-component [type]="6" [intervalUpdate]="60000"></app-top-card-component>
          </div>
        </div>
        <div class="col-md-3">
          <div style="margin: 0 10px;">
            <app-top-card-component [type]="3"></app-top-card-component>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 22px;">
      <div class="row">
        <div class="col-md-9">
          <div style="margin: 0 10px;">
            <app-main-content-component></app-main-content-component>
          </div>
        </div>
        <div class="col-md-3">
          <div style="margin: 0 10px;">
            <app-right-widget-component></app-right-widget-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
