
<div class="modal-header">
  <button type="button" class="close" (click)="dialogRef.close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Add / Update Plate</h4>
</div>
<div class="modal-body">
  <div class="row">
    <form [formGroup]="frmGroup">
      <div class="col-md-12 mbt">
        <label>Plate</label>
        <input formControlName="plate" type="text" placeholder="Plate" />
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="dialogRef.close()" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="!frmGroup.valid">Save changes</button>
</div>
