.top-card {
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);
  border-radius:4px;
}
.head {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.28);
  margin:15px 0 0 20px;
}
.statistic {
  margin: 15px 20px 20px 20px;

  .main-param {
    font-size: 50px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
  }

  .positive-percent {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #a4c858;
  }

  .negative-percent {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #ff573e;
  }

  .days-ago {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: rgba(0, 0, 0, 0.28);
    text-transform: uppercase;
  }
}
