<div class="row">
  <div class="col-md-12 top-card clearmap" *ngIf="mainModelOfTopContent">
    <div class="head">{{mainModelOfTopContent.nameOfTheBlock}}</div>
    <div class="statistic">
      <div class="row align-items-center">
        <div class="col-md"><span class="main-param">{{mainModelOfTopContent.mainIndicator}}</span></div>
        <div class="col-md col-md-auto">
          <div class="positive-percent" *ngIf="mainModelOfTopContent.percent>=0; else elseBlock">+{{mainModelOfTopContent.percent.toFixed(2)}}%</div>
          <ng-template #elseBlock>
            <div class="negative-percent">{{mainModelOfTopContent.percent.toFixed(2)}}%</div>
          </ng-template>
          <div class="days-ago">{{mainModelOfTopContent.diaposonDates}} </div>
        </div>
      </div>
    </div>
  </div>
</div>
