<div class="row" style="margin: 20px;">
  <div class="col-md-12 clearmap title">
    Count records by this month
  </div>
  <div class="col-md-12 clearmap" style="height: 330px;">
    <ngx-charts-line-chart *ngIf="data.length"
      [scheme]="colorScheme"
      [roundDomains]="true"
      [results]="data"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
  <!--<div class="col-md-12 clearmap title">
    Name of the Chart
  </div>
  <div class="col-md-12 clearmap" style="height: 330px;">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [roundDomains]="true"
      [results]="data2"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>-->
</div>
