.right-widget {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);
  overflow:hidden;
}
.line {
  height: 1px;
  border: solid 1px #dfe3e8;
}
/deep/ .tick.ng-star-inserted text {
  fill: #637381 !important;
}
.tm {
  font-size: 16px;
  color: #212b36;
  font-weight: 600
}
.ct {
  margin-top: 8px;
  margin-bottom:20px;
  font-size: 26px;
  line-height: 1.23;
  color: #212b36;
}
