<div class="row">
  <div class="col-md-12 right-widget clearmap">
    <div class="row">
      <div class="col-md-7" style="margin:9px 20px;">
        <ng-select [items]="items"
                   [clearable]="false"
                   bindLabel="name"
                   bindValue="name"
                   (change)="changeMd()"
                   [(ngModel)]="selectedItem">
        </ng-select>
      </div>
      <div class="line col-md-12"></div>
    </div>
    <div class="row" style="margin-top: 16px;">
      <div class="col-md-12" style="margin-left: 20px">
        <div class="tm">TOTAL NUMBERS</div>
        <div class="ct">{{totalPlates}}</div>
      </div>
    </div>
    <div class="row" style="margin-right: 20px; margin-bottom: 41px;">
      <div class="col-md-12">
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [roundDomains]="true"
          [results]="data"
          [gradient]="false"
          [xAxis]="false"
          [yAxis]="true"
          [legend]="false"
          barPadding="3"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
