.main-cont {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);

  /deep/ .mat-tab-link-content {
    font-size: 14px !important;
    text-align: center !important;
    color: #212b36 !important;
  }

  /deep/ .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fe780e !important;
    height: 3px !important;
  }

  /deep/ .mat-tab-link {
    opacity: 1 !important;
    font-family: 'SFUIText' !important;
  }
}


/deep/ .ngx-datatable.material {
  box-shadow: none !important;
}

/deep/.ngx-datatable.material .datatable-header .datatable-header-cell {
  font-family: SFUIText;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #212b36;
  padding: 1.9rem 2.2rem !important;
}

/deep/.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 1.9rem 2.2rem !important;
}

/deep/ .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  font-family: SFUIText;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

/deep/.ngx-datatable .datatable-body .datatable-body-row > div {
  height: 1px;
  border-bottom: solid 1px #dfe4e8;
}

/deep/.ngx-datatable {
  overflow: unset !important;
}
