<div class="row">
  <div class="col-md-12 main-cont clearmap">
    <nav mat-tab-nav-bar class="demo-tab-group">
      <a mat-tab-link
         routerLinkActive #rla1="routerLinkActive"
         [active]="rla1.isActive"
         routerLink="plates">
        Most Recent Plate Groups
      </a>
      <a mat-tab-link
         routerLinkActive #rla2="routerLinkActive"
         [active]="rla2.isActive"
         routerLink="cameras">
        Cameras
      </a>
      <a mat-tab-link
         routerLinkActive #rla55="routerLinkActive"
         [active]="rla55.isActive"
         routerLink="black-list">
        Black List
      </a>
      
      <!--<a mat-tab-link
     routerLinkActive #rla3="routerLinkActive"
     [active]="rla3.isActive"
     routerLink="all-videos">
    All Videos
  </a>-->
      <a mat-tab-link
         routerLinkActive #rla4="routerLinkActive"
         [active]="rla4.isActive"
         routerLink="charts">
        Charts
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
