.login-block {
  width: 400px;

  color: #212b36;

  label {
    display: block;
    font-size: 15px;
    color: #212b36;
    margin-bottom: 4px;

    &[for='ch'] {
      display: inline-block;
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 0 !important;
    }
  }

  select {
    width: 140px;
    height: 36px;
    border-radius: 3px;
    font-size: 15px;
    padding: 8px 15px;
    color: #212b36;
    background-image: linear-gradient(to left, #ffffff, #f9fafb);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    border: solid 1px #c4cdd5;
  }

  input[type='text'], input[type='password'] {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
    border: solid 1px #c4cdd5;
    height: 36px;
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    color: #212b36;
  }

  input[type='checkbox'] {
    position: relative;
    top: 2px;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-image: linear-gradient(to left, #ffffff, #f9fafb);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    border: solid 1px #c4cdd5;
  }
}
.logo {
  text-align: center;
  margin-bottom:37px;
  #logo {
    width: 156px;
    height: 157px;
  }
}
.login-content {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);
}
.line {
  height: 1px;
  border: solid 1px #dfe3e8;
}
.form{
  margin:20px 19px 25px 19px;
}
.block-title {
  padding:18px 0 18px 19px;

  font-size: 21px;
  font-weight: 600;
  text-align: left;
  color: #212b36;
}
.col-md-12, .col-md-6, .col-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
#snd {
  display: block;
  height: 40px;
  border-radius: 3px;
  background-image: linear-gradient(to left, #fa8204, #fc8602);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
  border: solid 1px #ec6b0e;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
/*/deep/ .ng-dropdown-panel {
  border: 2px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}*/
