<div class="container-fluid d-flex h-100 flex-column justify-content-center main-block">
  <div class="login-block align-self-center">
    <div class="logo">
      <img id="logo" src="../../../../../assets/images/logo.jpg" />
    </div>
    <div class="login-content">
      <div class="block-title">
        Login to your account
      </div>
      <div class="line"></div>
      <div class="form">

        <form [formGroup]="group">
          <div class="container-fluid">
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-12" style="margin-bottom: 16px;">
                <label for="lg">Username</label>
                <input type="text" id="lg" formControlName="login" placeholder="Enter Username">
              </div>
              <div class="col-md-12">
                <label for="ps">Password</label>
                <input type="password" formControlName="password" id="ps" placeholder="Password">
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6">
                <label for="ch"><input type="checkbox" id="ch">Remember me</label>
              </div>
              <div class="col-6">
                <ng-select [items]="languages"
                           [clearable] ="false"
                           bindLabel="name"
                           bindValue="value"
                           formControlName="language">
                </ng-select>
                <!--<select>
                  <option value="eng">English</option>
                  <option value="heb">Hebrew</option>
                </select>-->
              </div>
            </div>
            <div class="row" style="margin-top: 25px;">
              <div class="col-md-12" style=" margin-bottom: 35px;">
                <input type="button" id="snd" value="Log In" (click)="sendRequestToken()" />
              </div>
            </div>
          </div>
          <!--<input type="text" formControlName="password" placeholder="Password">
          <input type="button" value="Send request" (click)="sendRequestToken()"/>-->
        </form>
      </div>
    </div>
  </div>
</div>
