label {
  display: block;
  font-size: 15px;
  color: #212b36;
  margin-bottom: 4px;
}
form{
  width:100%;
}
input[type='text'], input[type='password'] {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
  border: solid 1px #c4cdd5;
  height: 36px;
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  color: #212b36;
  &.ng-touched.ng-dirty.ng-invalid{
    border-color:red;
  }
}
/deep/.mat-dialog-container{
  padding:0 !important;
}
.mbt{
  margin-bottom:10px;
}
