
  <div class="modal-header">
    <button type="button" class="close" (click)="dialogRef.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit Camera Settings</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="frmGroup">
        <div class="col-md-12 mbt">
          <label>Ip</label>
          <input formControlName="ip" type="text" placeholder="Ip Address" />
        </div>
        <div class="col-md-12 mbt">
          <label>Port</label>
          <input formControlName="port" type="text" placeholder="Pory" />
        </div>
        <div class="col-md-12 mbt">
          <label>Name</label>
          <input formControlName="cameraName" type="text" placeholder="Camera Name" />
        </div>
        <div class="col-md-12 mbt">
          <label>Login</label>
          <input formControlName="login" type="text" placeholder="Login" />
        </div>
        <div class="col-md-12 mbt">
          <label>Password</label>
          <input formControlName="password" type="password" placeholder="Password" />
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dialogRef.close()" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="!frmGroup.valid">Save changes</button>
  </div>
