<div class="row" style="margin: 20px;">
  <div class="col-md-2 clearmap" style="padding-left: 0;">
    <button class="add" (click)="addNew()">Add a black number</button>
  </div>
  <div class="col-md-2 clearmap">
    <ng-select [items]="typesOfSelect"
               [clearable]="false"
               bindLabel="name"
               bindValue="name"
               [(ngModel)]="type">
    </ng-select>
  </div>
  <div class="col-md-8 clearmap" style="position: relative">
    <i class="fas fa-search"></i>
    <input type="text" [(ngModel)]="filter" placeholder="Start typing to search"/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngx-datatable class="material fullscreen"
                   [rows]="getRows()"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [limit]="150"
                   [columnMode]="'force'"
                   [rowHeight]="50">
      <ngx-datatable-column name="plate"></ngx-datatable-column>
      <ngx-datatable-column name="Edit" prop="id" [cellTemplate]="edit"></ngx-datatable-column>
      <ngx-datatable-column name="Delete" prop="id" [cellTemplate]="delete"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<ng-template #edit let-row="row" let-value="value">
  <button (click)="editRow(row)" class="bt" mat-icon-button color="accent">
    <i class="fas fa-edit"></i>
  </button>
</ng-template>
<ng-template #delete let-row="row" let-value="value">
  <button (click)="deleteRow(row)" class="bt" mat-icon-button color="warn">
    <i class="fas fa-trash-alt"></i>
  </button>
</ng-template>
