<div class="row" style="margin: 20px;">
  <div class="col-md-2 clearmap">
    <ng-select [items]="typesOfSelect"
               [clearable]="false"
               bindLabel="name"
               bindValue="name"
               (change)="changeType()"
               [(ngModel)]="page.filterType">
    </ng-select>
  </div>
  <div *ngIf="page.filterType === 'All fields'" class="col-md-10 clearmap" style="position: relative">
    <i class="fas fa-search"></i>
    <input [(ngModel)]="page.filterValue" (ngModelChange)="textChanged($event)" type="text" placeholder="Start typing to search" />
  </div>
  <div *ngIf="page.filterType === 'Dates'" class="col-md-10 clearmap" style="position: relative">
    <div class="row clearmap">
      <div class="col-md-5">
        <mat-form-field>
          <input [(ngModel)]="dateFrom" matInput style="width:100%" [matDatepicker]="picker" placeholder="Date from">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field>
          <input [(ngModel)]="dateTo" style="width:100%" matInput [matDatepicker]="picker1" placeholder="Date to">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button id="showDates" (click)="fltr()" [disabled]="!dateTo || !dateFrom" value="Show">Show</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngx-datatable
      class="material fullscreen"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [offset]="page.pageNumber"
      [externalPaging]="true"
      [limit]="page.size"
      [count]="page.totalElements?page.totalElements:''"
      (page)='setPage($event)'>
      <ngx-datatable-column name="Event Id" prop="eventId"></ngx-datatable-column>
      <ngx-datatable-column name="Direction" [cellTemplate]="direction"></ngx-datatable-column>
      <ngx-datatable-column name="Plate Number" [cellTemplate]="plate" prop="plate"></ngx-datatable-column>
      <ngx-datatable-column name="Date" ></ngx-datatable-column>
      <ngx-datatable-column name="Confidence"></ngx-datatable-column>
      <ngx-datatable-column name="Videos" [cellTemplate]="videos"></ngx-datatable-column>
    </ngx-datatable>
    <ng-template #videos let-row="row" let-value="value">
      <button (click)="openDialog(value)"><i class="fas fa-play-circle"></i></button>
    </ng-template>
    <ng-template #direction let-row="row" let-value="value">
      <span *ngIf="value==='IN'" style="color: blue">{{value}}</span>
      <span *ngIf="value==='OUT'" style="color: #800000;">{{value}}</span>
    </ng-template>
    <ng-template #plate let-row="row" let-value="value">
      <span style="color: #fe780e; cursor: pointer">{{value}}</span>
    </ng-template>
  </div>
</div>

