<div class="row">
  <div class="col-md-6" *ngFor="let video of data">
    <video style="width: 100%" [src] = "'http://192.168.1.200:51715/' + video" controls>
      Your browser does not support HTML5 video.
    </video>
  </div>
</div>
