input[type='text'] {
  display: block;
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  /*box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);*/
  border: solid 1px #c4cdd5;
  height: 36px;
  padding-left: 38px;
  margin-left: -4px;
  font-family: SFUIText;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #919eab;
}

.fas.fa-search {
  position: absolute;
  left: 8px;
  font-size: 15px;
  top: 11px;
  color: #919eab;
}

button {
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
  background-image: linear-gradient(to bottom, #606fc7, #5865c1);
  border: solid 1px #4f5dba;
  color: #fff;
  padding: 4px 20px;
  display: block;
  position: relative;
  top: -10px;
  font-size: 14px;
}
/deep/ .mat-form-field {
  width: 90% !important;
  top: -4px;
}

#showDates {
  top: 7px;
}
