input[type='text'] {
  display: block;
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  /*box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);*/
  border: solid 1px #c4cdd5;
  height: 36px;
  padding-left: 38px;
  margin-left: -4px;
  font-family: SFUIText;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #919eab;
}
.fas.fa-search {
  position: absolute;
  left: 8px;
  font-size: 15px;
  top: 11px;
  color: #919eab;
}
