
.header {
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.col-md{

}
#username {
  width: 280px;
  border-left: solid 1px rgba(0, 0, 0, 0.08);
  border-right: solid 1px rgba(0, 0, 0, 0.08);
  text-align: center;
  color: #fe780e;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  padding-top: 18px;
  cursor: pointer;
  .fas.fa-sort-down {
    position: relative;
    top: -2px;
    color: rgba(0, 0, 0, 0.54);
    left: 5px;
  }
}
#logout {
  width: 61px;
  text-align: center;
  cursor:pointer;
  .fas.fa-sign-out-alt {
    position: relative;
    top: 17px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.38);
  }
}
#logo{
  width:92px;
  margin:12px 0 11px 20px;
}
.row, .col-md {
  padding: 0;
  margin: 0;
}
