<div class="row header">
  <div class="col-md">
    <img id="logo" src="../../../../../assets/images/logo2.png" />
  </div>
  <div id="username">{{userName}}@wesmart.com <i class="fas fa-sort-down"></i></div>
  <div id="logout">
    <i class="fas fa-sign-out-alt"></i>
  </div>
</div>
