@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-4-grid/css/grid.css";
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@font-face {
  font-family: 'SFUIText';
  src: url('assets/fonts/SFUIText-Regular.eot') format('embedded-opentype'), url('assets/fonts/SFUIText-Regular.svg') format('svg'), url('assets/fonts/SFUIText-Regular.ttf') format('truetype'), url('assets/fonts/SFUIText-Regular.woff') format('woff'), url('assets/fonts/SFUIText-Regular.woff2') format('woff2');
}
$main-background: #f4f6f8;
$main-font: SFUIText ;
html{
  min-height:100%;

}
html, body {
  background-color: $main-background;
  margin: 0;
  padding: 0;
  //min-height: 100%;
  height: 100%;
  font-family: $main-font;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.clearmap {
  margin: 0 !important;
  padding: 0 !important;
  margin-left:0 !important;
  margin-right:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
}
.main-block {
  //background-color: $main-background;
}
a:focus, a:hover{
  text-decoration:none !important;
  color:none !important;
}
