<div class="row" style="margin: 20px;">
  <div class="col-md-2 clearmap">
    <ng-select [items]="typesOfSelect"
               [clearable] ="false"
               bindLabel="name"
               bindValue="name"
               [(ngModel)]="type">
    </ng-select>
  </div>
  <div class="col-md-10 clearmap" style="position: relative">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Start typing to search" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngx-datatable
      class="material fullscreen"
      [rows]="rows"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50">
      <ngx-datatable-column name="Settings" prop="id" [cellTemplate]="setttings"></ngx-datatable-column>
      <ngx-datatable-column name="Ip Address" prop="ip"></ngx-datatable-column>
      <ngx-datatable-column name="Camera Name" prop="cameraName"></ngx-datatable-column>
      <ngx-datatable-column name="Live Video" prop="live" [cellTemplate]="live"></ngx-datatable-column>
    </ngx-datatable>
    <ng-template #setttings let-row="row" let-value="value">
      <i (click)="editCamera(value)" style="font-size: 20px; color: #757575; cursor: pointer; position: relative; top: -4px;" class="fas fa-cog"></i>
    </ng-template>
    <ng-template  #live let-row="row" let-value="value">
      <button (click)="openTab(row)">Live Video</button>
    </ng-template>
  </div>
</div>
